*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(20,20,20,0.8883928571428571) 33%, rgba(0,0,0,0.9612219887955182) 100%);
    overflow-x: hidden;
}

header{
    background-image: url(/imagens.img/c168b3442c88f0b3277c3572785725fe.jpg);
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: right center;
}

nav ul{
    display: flex;
    justify-content: right;
    list-style: none;
    padding: 5px;
    color: gold;
    font-family: sans-serif;
}

nav ul li{
    gap: 16px;
    padding: 15px;
    font-weight: bold;
}

nav ul li a{
    color: gold;
    text-decoration: none;
}

.imagem-banner{
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 90px;
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner{
    margin-top: 10px;
    width: 400px;
    height: auto;
}

.servicos{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

.servicos-name {
    display: flex;
    align-items: center;
    padding: 10px;
    color: white;
    font-family: sans-serif;
    font-size: 32px;
}

.servico-img{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 20px;
}

.servico-img img{
    filter: invert(1);
}

.servico-img::before, .servico-img::after {
    content: "";
    width: 40px;
    height: 2px;
    background-color: rgb(75, 75, 40);
    margin: 0 15px;
}

.tabela{
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 0;
}

.img-tabela{
    display: flex;
    width: 400px;
    height: 500px;
    border-radius: 10px;
    opacity: 0.8;
    box-shadow: 0 8px 15px black;
}

.img-cortes{
    display: flex;
    margin-left: 47px;
    padding: 15px;
    border-radius: 5%;
}

.ul-cortes, .li-cortes{
    display: flex;
    width: 300px;
    font-style: none;
}

.div-img-cortes img{
    margin-top: 15px;
    border-radius: 5%;
    display: flex;
    width: 300px;
    padding: 10px;
}

.estatisticas{
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 20px 10px;
    color: white;
}

.itens{
    flex: 1;
    max-width: 200px;
    margin-top: 100px;
    font-family: sans-serif;
}

h2{
    font-size: 60px;
    margin: 0;
}

.sessao2{
    background-color: rgba(48, 48, 48, 0.281);
    box-shadow: 0 8px 15px black;
    margin-top: 100px;
    padding: 10px;
    display: grid;
    flex-direction: column;
    width: 100%;
}

.div-name-produtos{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px;
}

.produtos-name{
    display: flex;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    font-family: sans-serif;
    padding: 20px;
}

.img-produtos img{
    width: 50%;
    height: 480px;
    padding: 15px;
    margin-left: 20px;
}

.produtos-name1{
    display: flex;
    font-size: 20px;
    color: white;
    font-family: sans-serif;
    justify-content: right;
    margin-top: -430px;
    margin-right: 100px;
    text-transform: uppercase;
}

.ul-produtos .produtos1{
    margin-bottom: 12px;
}

span{
    font-size: 26px;
    color: gold;
}

b{
    font-size: 16px;
}

.sessao3{
    display: flex;
    padding: 20px;
    justify-content: center;
    margin-top: 40px;
}

.localizacao{
    width: 400px;
    padding: 20px;
    color: white;
    overflow: hidden;
    text-align: center;
    font-family: sans-serif;
}

.localizacao-img{
    width: 100%;
    height: auto;
}

.card-local{
    padding: 20px;
}

.h-localizacao{
    font-size: 20px;
    margin-bottom: 10px;
}

.informacao .telefone{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    margin: 5px 0;
}

.informacao .endereco{
    margin-right: 8px;
    padding: 10px;
}

.botao-agendar{
    background-color: white;
    border: 2px solid black;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    width: 80%;
    margin-top: 10px;
}

.botao-agendar a{
    color: inherit;
    text-decoration: none;
}

.botao-agendar:hover{
    background-color: rgba(48, 48, 48, 0.281);
}

.botao-agendar:hover a{
    color: white;
}

footer{
    text-align: center;
    background-color: rgba(31, 31, 31, 0.459);
    padding: 20px;
    color: white;
    margin-top: 40px;
}

.sessao4{
    display: flex;
    justify-content: space-around;
    font-family: sans-serif;
}

.article-footer{
    padding: 20px;
    gap: 10px;
}

.h-footer{
    font-size: 20px;
    padding: 10px;
}

.rodape{
    font-family: sans-serif;
    font-style: initial;
    color: white;
}

.article2-footer{
    margin-top: 80px;
}

.article-footer img{
    padding: 10px;
    filter: invert(1);
}



@media screen and (max-width: 1280px){
    nav ul, nav ul li{
        display: flex;
        justify-content: center;
    }

    .img-cortes{
        display: flex;
        width: 100%;
    }

    .ul-cortes .li-cortes{
        display: flex;
        width: 80%;
        max-width: 85%;
        transition: .5s;
    }

    .div-img-cortes img{
        display: flex;
        width: 240px;
        max-width: 255px;
        height: auto;
    }

    .div-nome-img, .nome-img{
        display: flex;
        width: 130px;
        height: 65px;
        margin-left: -93px;
        margin-top: 145px;
    }

}


@media screen and (max-width: 1070px){

    nav ul, nav ul li{
        display: flex;
        justify-content: center;
        
    }

    .img-cortes{
        display: flex;
        width: 100%;
    }

    .ul-cortes .li-cortes{
        display: flex;
        width: 70%;
        transition: .5s;
    }

    .div-img-cortes img{
        display: flex;
        width: 200px;
        max-width: 250px;
        height: auto;
    }

    .div-nome-img, .nome-img{
        display: flex;
        width: 105px;
        height: 60px;
        margin-left: -75px;
        margin-top: 110px;
        font-size: 14px;
    }

    .img-produtos{
        display: flex;
        width: 85%;
        height: auto;
    }

    .produtos{
        display: flex;
        justify-content: right;
    }

    .produtos-name1, .ul-produtos, .produtos1{
        justify-content: right;
        font-size: 1rem;
        font-weight: bold;
    }

}

@media screen and (max-width: 920px){

    nav ul, nav ul li{
        display: flex;
        justify-content: center;
    }

    .imagem-banner{
        background-color: rgba(0, 0, 0, 0.5);
        margin-top: 100px;
        height: 300px;
    }

    .servicos-name{
        font-size: 1em;
    }

    .tabela{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img-tabela{
        width: 35%;
        height: auto;
    }

    .img-cortes{
        display: flex;
        width: 100%;
    }

    .ul-cortes .li-cortes{
        display: flex;
        width: 60%;
        max-width: 65%;
        transition: .5s;
    }

    .div-img-cortes img{
        display: flex;
        width: 180px;
        max-width: 190px;
        height: auto;
        margin-left: 10px;
    }

    .div-nome-img, .nome-img, .br{
        display: flex;
        width: 85px;
        height: 55px;
        margin-left: -68px;
        margin-top: 97px;
        font-size: 12px;
        font-weight: bold;
    }

    .produtos-name{
        font-size: 2rem;
    }

    .img-produtos{
        display: flex;
        width: 80%;
        height: auto;
    }

    .produtos{
        display: flex;
        justify-content: right;
    }

    .produtos-name1, .ul-produtos, .produtos1{
        font-size: 15px;
        font-weight: bold;
    }

}

@media screen and (max-width: 840px){

    nav ul, nav ul li{
        display: flex;
        justify-content: center;
    }

    .imagem-banner{
        background-color: rgba(0, 0, 0, 0.5);
        margin-top: 100px;
        height: 300px;
    }

    .servicos-name{
        font-size: 0.9em;
    }

    .tabela{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img-tabela{
        width: 35%;
        height: auto;
    }

    .img-cortes{
        display: flex;
        width: 100%;
    }

    .img-cortes{
        display: flex;
        width: 100%;
    }

    .ul-cortes .li-cortes{
        display: flex;
        width: 55%;
        max-width: 60%;
        transition: .5s;
    }

    .div-img-cortes img{
        display: flex;
        width: 160px;
        max-width: 165px;
        height: auto;
        margin-left: 30px;
    }

    .div-nome-img, .nome-img, .br{
        display: flex;
        width: 90px;
        height: 50px;
        margin-left: -63px;
        margin-top: 88px;
        font-size: 11px;
        font-weight: bold;
    }

    .estatisticas{
        display: flex;
        margin: 0;
    }

    .itens h2{
        font-size: 3em;
    }

    .p-estatisticas{
        font-size: 1em;
    }

    .sessao2{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .produtos-name{
        font-size: 2rem;
    }

    .img-produtos img{
        display: flex;
        width: 90%;
        height: auto;
        margin-top: -150px;
    }

    .produtos{
        display: flex;
        margin-left: 200px;
        margin-top: 300px;
    }

    .produtos-name1, .ul-produtos, .produtos1{
        font-size: 15px;
        font-weight: bold;
    }

}

@media screen and (max-width: 770px){

    nav ul, nav ul li{
        display: flex;
        justify-content: center;
    }

    .imagem-banner{
        width: 100%;
        height: 300px;
    }

    .imagem-banner img{
        width: 300px;
        height: auto;
    }

    .servicos-name{
        font-size: 0.9em;
    }

    .tabela{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .tabela img{
        width: 40%;
        height: 400px;
    }

    .img-cortes{
        display: flex;
        width: 100%;
    }

    .ul-cortes .li-cortes{
        display: flex;
        margin-left: -10px;
        width: 55%;
        max-width: 60%;
        transition: .5s;
    }

    .div-img-cortes img{
        display: flex;
        width: 160px;
        max-width: 165px;
        height: auto;
        margin-left: 20px;
    }


    .estatisticas{
        display: flex;
        margin: 0;
    }

    .itens h2{
        font-size: 3em;
    }

    .p-estatisticas{
        font-size: 1em;
    }

    .sessao2{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .produtos-name{
        font-size: 2rem;
    }

    .img-produtos img{
        display: flex;
        width: 90%;
        height: auto;
        margin-top: -150px;
    }

    .produtos{
        display: flex;
        margin-left: 200px;
        margin-top: 300px;
    }

    .produtos-name1, .ul-produtos, .produtos1{
        font-size: 15px;
        font-weight: bold;
    }

}

@media screen and (max-width: 720px){

    nav ul, nav ul li{
        display: flex;
        justify-content: center;
    }

    .imagem-banner{
        width: 100%;
        height: 300px;
    }

    .imagem-banner img{
        width: 300px;
        height: auto;
    }

    .servicos-name{
        font-size: 0.9em;
    }

    .tabela{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .tabela img{
        width: 40%;
        height: 400px;
    }

    .img-cortes{
        display: flex;
        width: 100%;
    }

    .ul-cortes .li-cortes{
        display: flex;
        margin-left: -10px;
        width: 50%;
        max-width: 60%;
        transition: .5s;
    }

    .div-img-cortes img{
        display: flex;
        width: 150px;
        max-width: 155px;
        height: auto;
    }

    .div-nome-img{
        display: flex;
        font-weight: bold;
        margin-left: -60px;
        margin-top: 73px;
        padding: 5px;
        font-size: 12px;
    }

    .estatisticas{
        display: flex;
        margin: 0;
    }

    .itens h2{
        font-size: 3em;
    }

    .p-estatisticas{
        font-size: 1em;
    }

    .sessao2{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .produtos-name{
        font-size: 2rem;
    }

    .img-produtos img{
        display: flex;
        width: 90%;
        height: auto;
        margin-top: -150px;
    }

    .produtos{
        display: flex;
        margin-left: 200px;
        margin-top: 300px;
    }

    .produtos-name1, .ul-produtos, .produtos1{
        font-size: 15px;
        font-weight: bold;
    }

}

@media screen and (max-width: 670px){

    nav ul, nav ul li{
        display: flex;
        justify-content: center;
    }

    .imagem-banner{
        width: 100%;
        height: 300px;
    }

    .imagem-banner img{
        width: 300px;
        height: auto;
    }

    .servicos-name{
        font-size: 0.9em;
    }

    .tabela{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .tabela img{
        width: 40%;
        
    }

    .img-cortes{
        display: flex;
        width: 100%;
    }

    .ul-cortes .li-cortes{
        display: flex;
        width: 45%;
        max-width: 50%;
        transition: .5s;
    }

    .div-img-cortes img{
        display: flex;
        width: 135px;
        max-width: 155px;
        height: auto;
    }

    .estatisticas{
        display: flex;
        margin: 0;
    }

    .itens h2{
        font-size: 3em;
    }

    .p-estatisticas{
        font-size: 14px;
    }

    .sessao2{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .produtos-name{
        font-size: 2rem;
    }

    .img-produtos img{
        display: flex;
        width: 90%;
        height: auto;
        margin-top: -150px;
    }

    .produtos{
        display: flex;
        margin-left: 180px;
        margin-top: 350px;
    }

    .produtos-name1, .ul-produtos, .produtos1{
        font-size: 13px;
        font-weight: bold;
    }

    .localizacao img{
        width: 90%;
    }

}


@media screen and (max-width: 590px){

    header{
        width: 100%;
        height: 250px;
        margin-top: -100px;
    }

    nav ul, nav ul li{
        display: none;

    }

    .imagem-banner{
        background-color: rgba(0, 0, 0, 0.5);
        margin-top: 100px;
        height: 250px;
    }

    .imagem-banner img{
        width: 200px;
    }

    .servicos-name{
        font-size: 0.7em;
    }

    .servico-img img{
        width: 20px;
    }

    .tabela{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .tabela img{
        width: 45%;
        height: 350px;
    }

    .img-cortes{
        display: flex;
        width: 100%;
    }

    .ul-cortes {
        width: 90%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 50px;
    }

    .li-cortes {
        list-style: none;
        display: flex;
        justify-content: center;
    }

    .img-cortes img{
        display: flex;
        width: 100%;
        height: 200px;
    }

    .estatisticas{
        display: flex;
        margin: 0;
    }

    .itens h2{
        font-size: 2em;
    }

    .p-estatisticas{
        font-size: 10px;
    }

    .sessao2{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .produtos-name{
        font-size: 1.3rem;
    }

    .img-produtos img{
        display: flex;
        width: 90%;
        height: auto;
        margin-top: -100px;
    }

    .produtos{
        display: flex;
        width: 100%;
        margin-left: 120px;
        margin-top: 400px;
        justify-content: center;
        text-align: center;
    }

    .produtos-name1, .ul-produtos, .produtos1, b{
        list-style: none;
    }

    .produtos1 span{
        font-size: 16px;
    }

    .localizacao img{
        width: 60%;
        max-width: 65%;
        height: auto;
    }

    .h-localizacao, .telefone, .endereco{
        font-size: 14px;
    }

    .botao-agendar{
        padding: 5px 10px;
        font-size: 14px;
        width: 50%;
    }

}


@media screen and (max-width: 430px){

    header{
        width: 100%;
        height: 250px;
        margin-top: -100px;
    }

    nav ul, nav ul li{
        display: none;

    }

    .imagem-banner{
        height: auto;
    }

    .imagem-banner img{
        display: flex;
        width: 200px;
        height: 250px;
        margin-top: 0;
    }

    .servicos-name{
        font-size: 0.7em;
    }

    .servico-img img{
        width: 20px;
    }

    .tabela{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .tabela img{
        width: 65%;
        height: 300px;
    }

    .img-cortes{
        display: flex;
        width: 100%;
    }

    .ul-cortes {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 50px;
    }

    .li-cortes {
        list-style: none;
        display: flex;
        justify-content: center;
    }

    .div-img-cortes img {
        display: flex;
        width: 140px;
        max-width: 145px;
        height: auto;
        margin-left: 10px;
    }

    .estatisticas{
        display: flex;
        margin-top: -100px;
    }

    .itens h2{
        font-size: 2em;
    }

    .p-estatisticas{
        font-size: 10px;
    }

    .sessao2{
        margin-top: 20px;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .produtos-name{
        font-size: 1.5rem;
    }

    .img-produtos img{
        display: flex;
        width: 90%;
        height: auto;
        margin-top: -40px;
    }

    .produtos{
        display: flex;
        width: 100%;
        margin-top: 400px;
        margin-left: 120px;
        justify-content: center;
        text-align: center;
    }

    .produtos1 span{
        font-size: 16px;
    }

    .localizacao img{
        width: 60%;
        max-width: 65%;
        height: auto;
    }

    .h-localizacao, .telefone, .endereco{
        font-size: 14px;
    }

    .botao-agendar{
        padding: 5px 10px;
        font-size: 14px;
        width: 50%;
    }

    .sessao4{
        font-size: 16px;
        display: flex;
        flex-direction: column;
    }

}


@media screen and (max-width: 360px){

    header{
        width: 100%;
        height: 250px;
        margin-top: -100px;
    }

    nav ul, nav ul li{
        display: none;

    }

    .imagem-banner{
        height: auto;
    }

    .imagem-banner img{
        display: flex;
        width: 200px;
        height: 250px;
        margin-top: 0;
    }

    .servicos-name{
        font-size: 0.7em;
    }

    .servico-img img{
        width: 20px;
    }

    .tabela{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .tabela img{
        width: 65%;
        height: 300px;
    }

    .img-cortes{
        display: flex;
        width: 100%;
    }

    .ul-cortes {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 50px;
    }

    .li-cortes {
        list-style: none;
        display: flex;
        justify-content: center;
    }

    .div-img-cortes img {
        display: flex;
        width: 130px;
        max-width: 145px;
        height: auto;
        margin-left: 10px;
    }

    .estatisticas{
        display: flex;
        margin-top: -100px;
        font-size: 1.2rem;
    }

    .itens h2{
        font-size: 1.3em;
    }

    .p-estatisticas{
        font-size: 10px;
    }

    .sessao2{
        display: flex;
        width: 100%;
        margin-top: 10px;
        justify-content: center;
        align-items: center;
    }

    .produtos-name{
        font-size: 1.2rem;
    }

    .img-produtos img{
        display: flex;
        width: 90%;
        height: auto;
        margin-left: 5px;
        margin-top: -40px;
    }

    .produtos{
        display: flex;
        width: 50%;
        margin-top: 400px;
        margin-left: 120px;
        justify-content: center;
        text-align: center;
    }

    .produtos-name1, .ul-produtos{
        width: 300px;
        margin-left: -10px;
        margin-top: -180px;
        height: 100px;
    }

    

    .localizacao img{
        width: 60%;
        max-width: 65%;
        height: auto;
    }

    .h-localizacao, .telefone, .endereco{
        font-size: 14px;
    }

    .botao-agendar{
        padding: 5px 10px;
        font-size: 14px;
        width: 50%;
    }

    .sessao4{
        font-size: 13px;
        display: flex;
        flex-direction: column;
    }

}


@media screen and (max-width: 320px){

    header{
        width: 100%;
        height: 250px;
        margin-top: -100px;
    }

    nav ul, nav ul li{
        display: none;

    }

    .imagem-banner{
        height: auto;
    }

    .imagem-banner img{
        display: flex;
        width: 200px;
        height: 250px;
        margin-top: 0;
    }

    .servicos-name{
        font-size: 0.7em;
    }

    .servico-img img{
        width: 20px;
    }

    .tabela{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .tabela img{
        width: 65%;
        height: 300px;
    }

    .img-cortes{
        display: flex;
        width: 100%;
    }

    .ul-cortes {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 50px;
    }

    .li-cortes {
        list-style: none;
        display: flex;
        justify-content: center;
    }

    .div-img-cortes img {
        display: flex;
        width: 110px;
        max-width: 145px;
        height: auto;
        margin-left: -7px;
        margin-top: -10px;
    }

    .estatisticas{
        display: flex;
        margin-top: -100px;
    }

    .itens h2{
        font-size: 1.3em;
    }

    .p-estatisticas{
        font-size: 10px;
    }

    .sessao2{
        display: flex;
        width: 100%;
        margin-top: 10px;
        justify-content: center;
        align-items: center;
    }

    .produtos-name{
        font-size: 1.2rem;
    }

    .img-produtos img{
        display: flex;
        width: 90%;
        height: auto;
        margin-top: -40px;
    }

    .produtos{
        display: flex;
        width: 100%;
        margin-top: 400px;
        margin-left: 120px;
        justify-content: center;
        text-align: center;
    }

    .produtos1 span{
        font-size: 16px;
    }

    .localizacao img{
        width: 60%;
        max-width: 65%;
        height: auto;
    }

    .h-localizacao, .telefone, .endereco{
        font-size: 14px;
    }

    .botao-agendar{
        padding: 5px 10px;
        font-size: 14px;
        width: 50%;
    }

    .sessao4{
        font-size: 13px;
        display: flex;
        flex-direction: column;
    }

}